#field {
    width: 200px;
    height: 150px;
    position: relative;
  }
  
  #ball {
    position: absolute;
    left: 0; /* relative to the closest positioned ancestor (field) */
    top: 0;
    transition: 1s all; /* CSS animation for left/top makes the ball fly */
  }