:root {
  --image-width: 130px;
  --num-images: 3;
  --carousel-width: calc(var(--num-images)*var(--image-width));
}

body {
  padding: 10px;
}

.carousel {
  position: relative;
  width: var(--carousel-width);
  padding: 10px 40px;
  border: 1px solid #CCC;
  border-radius: 15px;
  background: #eee;
}

.carousel img {
  width: var(--image-width);
  height: 130px;
  /* make it block to remove space around images */
  display: block;
}

.arrow {
  position: absolute;
  top: 60px;
  padding: 0;
  background: #ddd;
  border-radius: 15px;
  border: 1px solid gray;
  font-size: 24px;
  line-height: 24px;
  color: #444;
  display: block;
}

.arrow:focus {
  outline: none;
}

.arrow:hover {
  background: #ccc;
  cursor: pointer;
}

.prev {
  left: 7px;
}

.next {
  right: 7px;
}

.gallery {
  width: var(--carousel-width); /* exactly 3 images */
  overflow: hidden; /* hide extra images */
}

.gallery ul {
  height: var(--image-width);
  width: 9999px; /* auto makes them have to load/re-render*/
  margin: 0;
  padding: 0;
  list-style: none; /* not doing anything*/
  transition: margin-left 500ms;
  /* remove white-space between inline-block'ed li */
  /* http://davidwalsh.name/remove-whitespace-inline-block */
  font-size: 0;
}

.gallery li {
  display: inline-block;
}